﻿@model WSICG_Front.Models.WS_USUARIOS

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Usuario</h2>

<h5>Confirma que desea eliminar el Usuario @Html.DisplayFor(model => model.Usuario)?</h5>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", "List", new { @class = "btn btn-primary" })
        </div>
    }
</div>
