﻿@model WSICG_Front.Models.WS_USUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Usuario</h2>
<hr />
<div>

    <table class="table table-sm details" style="width:60%">
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Usuario)</th>
                <td>@Html.DisplayFor(model => model.Usuario)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Password)</th>
                <td>********</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.UltimoAcceso)</th>
                <td>@Html.DisplayFor(model => model.UltimoAcceso)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Activo)</th>
                <td>
                    @if (Model.Activo)
                    {
                        <span class="badge badge-success">SI</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">NO</span>
                    }                    
                </td>
            </tr>
        </tbody>
    </table>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Volver", "Index", "List", new { @class = "btn btn-sm btn-success" })
</p>

<h4>Permisos</h4>
@foreach (var p in ViewBag.permisos)
{
    if (@p.Permitir)
    {
<div class="alert alert-primary" role="alert">
    
        <a href="@Url.Action("Edit", "WS_PERMISOS", new { id = p.Id }) ">
            @p.Url.ToString().Replace("|", "  ")
        </a>
    
    <span class="badge badge-success float-right">
        ACCESO PERMITIDO
    </span>
</div>
    }
    else
    {
<div class="alert alert-danger" role="alert">
    <a href="@Url.Action("Edit", "WS_PERMISOS", new { id = p.Id }) ">
        @p.Url.ToString().Replace("|", "  ")
    </a>
    <span class="badge badge-danger float-right"> 
        ACCESO DENEGADO
    </span>
</div>
    }



}