﻿@model IEnumerable<WSICG_Front.Models.WS_USUARIOS>

@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create", "List", new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table ">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoAcceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>

            </th>
        </tr>

    

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimoAcceso)
                </td>
                <td>
                    @if ((bool)item.Activo)
                    {
                        <span class="badge badge-success">SI</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">NO</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }

</table>
