﻿@model WSICG_Front.Models.WS_USUARIOS

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron form-signin">
    <h1> Acceso </h1>
    
    @using (Html.BeginForm("Index", "Home", "./",
    FormMethod.Post, new { @class = "form-signin" }))
    {        
        <label class="sr-only">User Name: </label>
        @Html.TextBoxFor(model => model.Usuario, new { type = "email", placeholder = "Usuario", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Usuario)
        
        <label class="sr-only">Password:</label>
        @Html.TextBoxFor(model => model.Password, new { type = "password", placeholder = "Contraseña", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
        <br/>
        if (@ViewBag.Failedcount != null)
        {

            <label> Failed Attempt count is: @ViewBag.Failedcount</label>
        }

        if (@ViewBag.NotValidUser != null)
        {

            <label> @ViewBag.NotValidUser</label>
        }
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
    }
</div>

