﻿@model WSICG_Front.Models.WS_PERMISOS

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Permiso</h2>

<h5>Confirma que desea eliminar el permiso de acceso a @Html.DisplayFor(model => model.Url) para el Usuario @Html.DisplayFor(model => model.WS_USUARIOS.Usuario)?</h5>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", "List", new { @class = "btn btn-primary" })
        </div>
    }
</div>
