﻿@model WSICG_Front.Models.WS_PERMISOS

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Permiso</h2>
<hr />

<div>


    <table class="table table-sm details" style="width:60%">
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Url)</th>
                <td>@Html.DisplayFor(model => model.Url).ToString().Replace("|", "  ")</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Permitir)</th>
                <td>
                    @if (Model.Permitir)
                    {
                        <span class="badge badge-success">SI</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">NO</span>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.WS_USUARIOS.Usuario)</th>
                <td>@Html.DisplayFor(model => model.WS_USUARIOS.Usuario)</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Volver", "Index", "List", new { @class = "btn btn-sm btn-success" })
</p>

