﻿@model WSICG_Front.Models.WS_PERMISOS

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Permiso</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdUsuario)
    @Html.HiddenFor(model => model.Url)
    <div class="form-group">
        @Html.LabelFor(model => model.IdUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <input value="@Html.DisplayFor(model => model.WS_USUARIOS.Usuario)" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <input value="@Html.DisplayFor(model => model.Url)" class="form-control" readonly />            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Permitir, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="checkbox">
                @Html.EditorFor(model => model.Permitir)
                @Html.ValidationMessageFor(model => model.Permitir, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-sm btn-primary" />
            @Html.ActionLink("Volver", "Index", "List", new { @class = "btn btn-sm btn-success" })
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
