﻿@model IEnumerable<WSICG_Front.Models.WS_PERMISOS>

@{
    ViewBag.Title = "Listado de Permisos";
}

<h2>Permisos</h2>

<p>
    @Html.ActionLink("Nuevo Permiso", "Create", "List", new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permitir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WS_USUARIOS.Usuario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url).ToString().Replace("|","  ")
            </td>
            <td>
                @if ((bool)item.Permitir)
                {
                    <span class="badge badge-success">SI</span>
                }
                else
                {
                    <span class="badge badge-danger">NO</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WS_USUARIOS.Usuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
